@using MyEvernote.Entities
@using MyEvernote.WebApp.Models

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>MyNotes</title>

    <!-- Bootstrap Core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="~/Content/shop-homepage.css" rel="stylesheet" />
    <!-- jQuery -->
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Scripts/bootstrap.min.js"></script>

</head>
<body>

    <!-- Navigation menu -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Menü</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/Home/Index">Notes</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    @if (SessionManager.User != null)
                    {
                        <li class="dropdown">
                            <a href="/Note/Index" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                               aria-expanded="false">
                                <span class="glyphicon glyphicon-wrench"></span> Management
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/Note/Create"><span class="glyphicon glyphicon-plus">&nbsp;</span> Add New Note</a>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li>
                                    <a href="/Note/Index"><span class="glyphicon glyphicon-th-list">&nbsp;</span> My Notes</a>
                                </li>
                                <li>
                                    <a href="/Note/MyLikedNotes"><span class="glyphicon glyphicon-heart">&nbsp;</span> My Liked Notes</a>
                                </li>
                                @if (SessionManager.User.IsAdmin)
                                {
                                    <li role="separator" class="divider"></li>
                                    <li>
                                        <a href="/Category/Create"><span class="glyphicon glyphicon-plus">&nbsp;</span> Add New Category</a>
                                    </li>
                                    <li>
                                        <a href="/Category/Index"><span class="glyphicon glyphicon-th-list">&nbsp;</span> Categories</a>
                                    </li>

                                    <li role="separator" class="divider"></li>
                                    <li>
                                        <a href="/User/Create"><span class="glyphicon glyphicon-plus">&nbsp;</span> Add New User</a>
                                    </li>
                                    <li>
                                        <a href="/User/Index"><span class="glyphicon glyphicon-th-list">&nbsp;</span> Users</a>
                                    </li>
                                }
                            </ul>
                        </li>
                    }
                    <li>
                        <a href="/Home/MostLiked">
                            <span class="glyphicon glyphicon-heart"></span> Most Liked
                        </a>
                    </li>
                    <li>
                        <a href="/Home/Index">
                            <span class="glyphicon glyphicon-th-list"></span> Last Posts
                        </a>
                    </li>
                    <li>
                        <a href="/Home/About">
                            <span class="glyphicon glyphicon-info-sign"></span> About
                        </a>
                    </li>

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (SessionManager.User == null)
                    {
                        <li>
                            <a href="/Home/Login">
                                <span class="glyphicon glyphicon-log-in"></span> Login
                            </a>
                        </li>
                        <li>
                            <a href="/Home/Register">
                                <span class="glyphicon glyphicon-user"></span> Register
                            </a>
                        </li>
                    }
                    else
                    {

                        <li class="dropdown">
                            <a href="/Home/ShowProfile" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                               aria-expanded="false">
                                <span class="glyphicon glyphicon-user"></span> @SessionManager.User.Username
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/Home/ShowProfile"><span class="glyphicon glyphicon-user">&nbsp;</span> Show Profile</a>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li>
                                    <a href="/Home/EditProfile">
                                        <span class="glyphicon glyphicon-edit">&nbsp;</span> Edit Profile
                                    </a>
                                </li>
                                <li>
                                    <a href="/Home/DeleteProfile" onclick="
                            return confirm('Are you sure want to delete your account?')">
                                        <span class="glyphicon glyphicon-trash">&nbsp;</span> Delete Profile
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="/Home/Logout">
                                <span class="glyphicon glyphicon-log-out"></span> Logout
                            </a>
                        </li>
                    }

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    @RenderBody()
    <!-- /.container footer -->
    <div class="container">
        <hr>
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-4 text-center">
                    <h4>
                        <strong>Site Haritası</strong>
                    </h4>
                    <hr />
                    <p>
                        <a href="/Home/MostLiked">
                            <span class="glyphicon glyphicon-heart"></span> Most Like
                        </a>
                        <br />
                        <a href="/Home/Index">
                            <span class="glyphicon glyphicon-th-list"></span> Last Posts
                        </a>
                        <br />
                        <a href="/Home/About">
                            <span class="glyphicon glyphicon-info-sign"></span> About
                        </a><br />
                    </p>
                </div>

                <div class="col-lg-4 text-center">
                    <h4>
                        <strong>MyEvernote</strong>
                    </h4>
                    <hr />
                    <p>
                        All Rights Reserved  &copy;<br />
                        My Notes @DateTime.Now.Year
                    </p>
                </div>

                <div class="col-lg-4 text-center">
                    <h4>
                        <strong> E-newsletter Membership</strong>
                    </h4>
                    <hr />
                    <div class="col-md-10 col-md-offset-1">
                        <p>
                            You can sign up for e-newsletter with your e-mail address.
                        </p>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Your E-Mail Address..." />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-primary">
                                    <span class="glyphicon glyphicon-send"></span> Send
                                </button>
                            </span>
                        </div>
                    </div>
                </div>

            </div>
        </footer>
    </div>

</body>
</html>