@using MyEvernote.Entities
@model ENote

<div class="row">
    <div class="col-md-12">
        <h4 class="text-left">
            @Model.Title
        </h4>
    </div>
    <div class="col-md-12">
        <hr />
    </div>
    <div class="col-md-12 text-right">
        <span class="glyphicon glyphicon-user"></span> @Model.Owner.Username<br />
        <span class="glyphicon glyphicon-time"></span> @Model.ModifiedOn
    </div>
    <div class="col-md-12">
        <hr />
    </div>
    <div class="col-md-12">
        <p class="text-justify">
            @Model.Text
        </p>
    </div>
</div>
