
@{
    ViewBag.Title = "About";
}

<!-- Page Content -->
<div class="container">
    <div class="row">
        <!--Categories-->
        <div class="col-md-3">
            @Html.Partial("_PartialCategories")
        </div>
     
        <div class="col-md-9">
            <!--About-->
            <div class="row">
                <h2>
                    BBC Tarafından Hazırlanan ve Mutlaka Okumanız Gereken 13 Faydalı Makale
                </h2>
                <img src="http://placehold.it/500x250" class="center-block img-responsive img-rounded img-thumbnail"
                     alt="Alternate Text" />
                <hr />  
                <p>
                    Kişisel gelişimden, ne, nasıl, neden temalı dergiler de bulabileceğiniz bu servisten az kişinin bildiği 13 içeriğe ulaşabileceğiniz bir galeri.
                </p>
                <p>
                    Kişisel gelişimden, ne, nasıl, neden temalı dergiler de bulabileceğiniz bu servisten az kişinin bildiği 13 içeriğe ulaşabileceğiniz bir galeri.
                </p>
                <p>
                    Kişisel gelişimden, ne, nasıl, neden temalı dergiler de bulabileceğiniz bu servisten az kişinin bildiği 13 içeriğe ulaşabileceğiniz bir galeri.
                </p>
                <p>
                    Kişisel gelişimden, ne, nasıl, neden temalı dergiler de bulabileceğiniz bu servisten az kişinin bildiği 13 içeriğe ulaşabileceğiniz bir galeri.
                </p>
                <p>
                    Kişisel gelişimden, ne, nasıl, neden temalı dergiler de bulabileceğiniz bu servisten az kişinin bildiği 13 içeriğe ulaşabileceğiniz bir galeri.
                </p>
            </div>
        </div>
    </div>
</div>

