@{
    ViewBag.Title = "Unauthorized Access";
}

<div class="row">
    <div class="col-md-8 col-md-offset-2">

        <h1>
            <span class="glyphicon glyphicon-remove-circle"></span>
            Unauthorized Access
        </h1>
        <p>
            You are not authorized to access this page.
            <br /><br />
            <a href="/Home/Index" class="btn btn-primary">Go to Homepage</a>
        </p>

    </div>
</div>
<br /><br />
<br /><br />
<br /><br />
<br /><br />
<br /><br />