
@{
    ViewBag.Title = "LoginTest";
}

<link href="~/Content/LoginTest.css" rel="stylesheet" />

<div class="owl">
    <div class="hand"></div>
    <div class="hand hand-r"></div>
    <div class="arms">
        <div class="arm"></div>
        <div class="arm arm-r"></div>
    </div>
</div>
<div class="form">
    <div class="control">
        <label for="email" class="fa fa-envelope"></label>
        <input id="email" placeholder="Email" type="email" />
    </div>
    <div class="control">
        <label for="password" class="fa fa-asterisk"></label>
        <input id="password" placeholder="Password" type="password" />
    </div>
</div>

<script>
    $('input[type="password"]').on('focus', function () {
        $('*').addClass('password');
    }).on('focusout', function () {
        $('*').removeClass('password');
    });;
</script>

